@import "../../../../variables.scss";

.color-component {
    margin: 5px 30px;
    border-radius: 10px;
    border: 2px solid $base-color;
}

.color-el {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 8px 13px;
    border-radius: 8px;
}

.btn {
    margin: 0 10px;
    cursor: pointer;
    color: $not-active-color;
}

.btn:hover {
    color: $base-color;
}