<div class="color-component">
    <div class="color-el" appColor [color]="colorEl">
        <div>{{colorEl}}</div>
        <div class="btn">
            <fa-icon [icon]="faPenNib" (click)="colorEdit()"></fa-icon>
        </div>
        <div class="btn" (click)="delColor()">
            <fa-icon [icon]="faTrashCan"></fa-icon>
        </div>
    </div>
</div>
