<div class="user-add">
    <div>
        <img src="assets/icons/diva-e_logo.svg" alt="Logo" width="200" height="80">
    </div>
    <div class="el">
        <input type="text" [(ngModel)]="newUserName" /> 
    </div>
    <div class="el">
        <button (click)="userAdd()">Hinzufügen</button>
    </div>
</div>
