.user-info {
    background-color: white;
    border-radius: 6px;
    min-height: 150px;
    margin: 15px;
    padding: 20p;
}

.name {
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

.circle-plus {
    padding: 10px 0;
    text-align: center;
    display: block;
}