<div class="user-info">
    <div>
        <fa-icon [icon]="faCirclePlus" (click)="colorAdd()" class="circle-plus"></fa-icon>
    </div>
    <app-user-farben-list 
        *ngFor="let color of userInfo['colors']; let userColorIndex = index"
        [colorEl] = color
        (deleteColor)="deleteColor(userColorIndex)"
    ></app-user-farben-list>
    <div class="name">{{userInfo['name']}}</div>
</div>
